body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse 
{
    background-color: #240706;
    color: #E1DBD8;
}
.box
{
    border: 1px solid #E1DBD8;
    min-height: 80px;
    min-width: 70px;
}

.box-header
{
    float: right;
    font-size: 0.85em;
}
#top-menu a
{
    color: #ffffff;

}

.box:hover
{

    background-color: #8C7670;
}
.toolbar, .selection
{
    border: 1px solid #E1DBD8;
    border-top:none;
}
#left-menu
{
     background-color: #4C3630;
     height: 100%;
     padding: 0;
     text-align: center;
     content:"";
     position:fixed;
     z-index: 10;

}

.left-box:hover
{
     background-color: #8C7670;

}
.left-box
{
     padding-top: 10px;
     padding-bottom: 10px;
     border: 1px solid #E1DBD8;
     min-height: 34px;


}
#left-menu a
{
    color: #ffffff;

}
.content
{
    margin-left: 173px;

}
#left-menu a:hover
{
    text-decoration: none;

}

